*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  border: 0px solid red;
}

body {
  margin: 0;
  margin-top: 4rem;
  font-family: "Oswald", sans-serif;
  background-image: url(../image/bg_pattern.png);
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

/**************** info supplémentaire  pour l'image de la nav ********************/
/* le svg est invisible mais tu peux cliquer dessus pour revenir sur la page index j'ai pas réussi à faire fonctionner le svg désoler */


/*************** nav ***************/

nav {
  background-image: url(../image/bg_pattern.png);
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  gap: 100px;
  z-index: 1;
}

.bar-nav {
  display: flex;
}

.bar-nav a {
  color: #fff;
}

#color-top30 {
  color: #000;
}

/* #logo-sezane {
  
} */

.burger {
  position: absolute;
  left: 0;
  height: 2rem;
  width: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.burger div {
  background-color: #000;
  width: 45%;
  height: 2px;
}

/* nav img {

} */

/****************** main ******************/

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1 {
  color: #fff;
}

.card {
  position: relative;
  grid-column: span 6;
}

.card-large {
  grid-column: span 12;
}

.card-large img {
  width: 100%;
  height: 100%;
}

.card img {
  width: 100%;
  height: 100%;
}

.card div {
  position: absolute;
}

/************* Loook Book *************/

section {
  position: relative;
  height: 100vh;
  width: 100%;

}

section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2020205e;
}

section div {
  position: absolute;
  top: 0;
  left: 0;
}

.centré {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.btn {
  padding: 1rem 2rem;
  border: 2px solid #fff;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  transition: 0.3s all ease-in-out;
}

.btn:hover {
  background-color: #ffffff70;
  transform: scale(1.1);
}

h2 {
  font-weight: bold;
  font-size: 2.8rem;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}

/******************* footer *******************/

h3 {

  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Oswald", sans-serif;
}

.bold {
  font-weight: bold;
}

.background {
  background-image: url(../image/bg_pattern.png);
}

footer {
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 2rem;
  gap: 2rem;
  font-family: "Baskervville", serif;
}

footer>div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer div a {
  color: #000;
}

/* pour input email */
.flex {
  display: flex;
}

#email {
  padding: 1rem;
  border: 1px solid #7c7c7c;
}

button {
  padding: 1rem;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
}

/* résaux sociaux */

.padd-gap {
  padding-top: 1rem;
  gap: 0.5rem;
}

.padd-gap i:nth-child(even):hover {
  color: crimson;
}

.padd-gap i:nth-child(odd):hover {
  color: cyan;
}

/********************************** page 2 "top 30" **********************************/

/********* main ***********/
.wrapper {
  max-width: 1300px;
  margin: auto;
}

 .wrapper main {
  gap: 1rem;
} 

.wrapper main h1 {
  grid-column: span 12;
  color: #000;
  text-align: center;
  margin-bottom: 0;
}

.card-top30 {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-top30-large {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

[alt="sac à mains"] {
  height: 100%;
}

p {
  text-align: center;
  text-transform: uppercase;
}

p span {
  font-weight: bold;
}


/* @media screen 770px */

@media screen and (min-width:770px) {
  .card {
    position: relative;
    grid-column: span 3;
  }
  .card-large {
    grid-column: span 4;
  }

  .card-top30 {
    grid-column: span 3;
  }
  
  .wrapper main h1 {
    margin-top: 6rem;
  }

}

/* @media screen 1024px */

@media screen and (max-width: 1024px) {
  .bar-nav {
    display: none;
  }
}

@media screen and (min-width: 1024px) {

  body {
    margin-top: 0;
  }

  .box {
    max-width: 1300px;
    margin: auto;
  }

  nav {
    position: static;
    margin: auto;
    background-image: none;
    height: 0;
  }

  .bar-nav {
    position: absolute;
    top: 1rem;
    z-index: 1;
    gap: 20px;
  }

  .burger {
    display: none;
  }

  .wrapper main h1 {
    margin-top: 6rem;
  }

  
}